<h2 id='title'>Welcome my EmberCli site.</h2>

<hr>
uppercase helper:
<br>
{{ upper-case "change this to uppercase using helper" }}

<hr>
trim helper:
<br>
{{ trim '    Trimming this letter'}}
{{outlet}}

<footer>
	<p>2014 kannansv.in</p>
</footer>